<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".activities.main_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.login_page" />
        <activity android:name=".activities.signup_page" />
        <activity android:name=".activities.main_page_client" />
        <activity android:name=".activities.main_page_doctor" />
        <activity android:name=".activities.make_appointment_activity" />
        <activity android:name=".activities.my_appointments_client" />
        <activity android:name=".activities.doctor_messages"/>
        <activity android:name=".activities.doctor_profile"/>
        <activity android:name=".activities.doctor_schedule"/>
        <activity android:name=".activities.create_client"/>
        <activity android:name=".activities.client_profile"/>
        <activity android:name=".activities.doctors_available"/>
        <activity android:name=".activities.client_send_messages"/>
        <activity android:name=".activities.choose_time_date"/>
        <activity android:name=".activities.doctor_reply"/>
        <activity android:name=".activities.client_view_messages"/>
    </application>

</manifest>
